body{
    font-family: sans-serif;
     height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: firebrick;
}

/* Fixed positions are outside of normal flow, can't use flexbox */
#inputContainer{
    position: fixed;
    background-color: rgba(0, 0 , 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#inputCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

#inputSubmissions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5pt;
    border: 2pt black solid;
    width: 200pt;
    background-color: white;
    

}

#bookshelf{
    display: flex;
    flex-wrap: wrap;
    gap: 10pt;
    margin-top: 5%;
}
.cover{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-wrap: normal;
    background-color: burlywood;
    gap: 2pt;
    justify-content: center;
    align-items: center;
    width: 150pt;
    border: 2pt black solid;
}

.bookText, .readCheckClass{
    margin: 2pt;
    font-weight: bold;

}



.labelText{
    margin: 2pt;
    margin-top: 5pt;
    text-decoration: underline;
    font-size: 14pt;
    
}