body{
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    margin:0;
    padding: 10pt;
    background-color: steelblue;
}

#header{
    font-family: ui-sans-serif;
    color: white;
    margin: 0;

}

.header{
    margin: 0;
}

#titleAndPic{
   display: flex;
   justify-content: space-between;

}

#siteTitle{
    font-size: 50pt;
}

#bookStack{
    height: 75pt;
    margin-right: 3%;

}

#subtitle{
    font-size: 25pt;
    margin-left: 15%;
}

#createPopupButton{
    margin-top: 3%;
    width: 50pt;
    height: 50pt;

}

/* Fixed positions are outside of normal flow, can't use flexbox */

/* The whole background when selected popup */
#inputContainer{
    position: fixed;
    background-color: rgba(0, 0 , 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

/* Center that has submission box in it, puts submission box in center */
#inputCenterPopup{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

#inputBoxThatHoldsEverything{
    display: flex;
    flex-direction: column;
    border: 2pt black solid;
    width: 200pt;
    background-color: seagreen;
    

}

/*Makes input submissions centered */
#inputSubmissions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5pt;
}


#inputRight{
     display: flex;
    align-items: right;
    justify-content: right;
    margin-top: 5%;
    margin-right: 5%;
}

#closeBtn{
    background-color: red;
    color: white;
}

#submit{
margin-top: 5pt;
margin-bottom: 5%;
}

#bookshelf{
    display: flex;
    flex-wrap: wrap;
    gap: 10pt;
    margin-top: 5%;
}
.cover{
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    padding: 10pt;
    margin: 0;
    gap: 6pt;
    overflow-wrap: word-break;
    box-shadow: 1px 3px;
    background-color: burlywood;
    justify-content: space-between;
    align-items: left;
    width: 200pt;
    border: 2pt black solid;
    margin-left: 1%;
    height: 150pt;
}

.titleText{
    font-weight: bold;
    font-size: 14pt;
    margin: 0;
}

.bookText, .readCheckClass{
    overflow-wrap: word-break;
    margin: 0;

}

.coverBtn{
 width: 50%;
 border-radius: 9%;
 box-shadow: 1px 2px;
 border: black 1px solid;
}



.labelText{
    margin: 0pt;
    margin-top: 2pt;
    text-decoration: underline;
    font-size: 10pt;
    
}